.project-section {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: var(--section-bg-alt-color) !important;
  transition: background-color 0.3s ease;
}

.project-card {
  padding: 20px;
  margin-bottom: 30px;
}

.project-card-view:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}
.dark .project-card-view:hover {
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1) !important;
}

.project-card-view .card-img-top {
  height: 200px;
  object-fit: cover;
}

.project-card-view .card-body {
  padding: 20px;
}