.alumni-section {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: var(--bg-color) !important;
  transition: background-color 0.3s ease;
}

.alumni-card {
  padding: 15px;
  margin-bottom: 30px;
}

.alumni-card-view:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15) !important;
}
.dark .alumni-card-view:hover {
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1) !important;
}

.alumni-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 20px auto 15px auto;
  border: 3px solid var(--card-bg-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.dark .alumni-img {
  border: 3px solid var(--card-bg-color);
}

.alumni-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.alumni-links .card-link {
  color: var(--link-color) !important;
}
.alumni-links .card-link:hover {
  color: var(--highlight-color) !important;
}